.main{
    height:1800px;
    background-color:#F8F9F9;
    color:#333;
}
.description{
    padding:100px 140px;
}
.description p{
    font-family:Open Sans;
    width:100%;
    text-align:center;
    line-height:40px;
}
.introduction{
    height:400px;
    width:100%;
    margin-bottom:55px;
}
.introduction img{
    display:block;
    height:100px;
    width:100px;
    object-fit: cover;
    margin-left:auto;
    margin-right:auto;
    border-radius:50%;
}
.introduction h3{
    text-align:center;
    margin-top:20px;
}
.introduction-list{
    margin-top:30px;
}
.introduction-list ul{
    list-style:none;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    padding-left:240px;
}
.introduction li{
    margin-top:8px;
}
.pic{
    margin:0 30px;
}
.home-card{
    width:50%;
    float:left;   
}
.menu-card-inner{
    padding:20px 10px;
    text-align:center;
}
.home-card img{
    width:100%;
}
.home-card img:hover{
    opacity:0.5;
}
.home-menu-title{
    text-decoration:none;
    font-weight:400;
    display:inline-block;
    margin-top:13px;
    font-size:17px;
}
.home-menu-title:hover{
    text-decoration:underline;
    color:#777777;
}
