@charset "utf-8";
@media screen and (max-width:670px){
	.navi, .menu{
		height:80px ;
		display:none;
	}
	.header-title{
		display:none;
	}
	.description p{
		font-size: 30px;
		line-height: 42px;
	}
	.menu a{
		line-height: 80px;
		font-size: 26px;
	}
	.home-menu-title{
		font-size: 26px;
	}
	li{
		font-size: 24px;
	}
	.main{
		height:2000px;
	}
	.introduction{
		margin-bottom: 150px;
	}
	h3{
		font-size: 28px;
	}
	.introduction img{
		width:120px;
		height: 120px;
	}
}
